@model SoftwareContabilidade.Models.Mercadoria

@{
    ViewData["Title"] = "Mercadoria";
}

<h4>Cadastrar Mercadoria</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="codigo" class="control-label"></label>
                <input asp-for="codigo" class="form-control" type="number" min="0" />
                <span asp-validation-for="codigo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="qtdEstoque" class="control-label"></label>
                <input asp-for="qtdEstoque" class="form-control" type="number" min="0" />
                <span asp-validation-for="qtdEstoque" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precoVenda" class="control-label"></label>
                <input asp-for="precoVenda" class="form-control" />
                <span asp-validation-for="precoVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precoCusto" class="control-label"></label>
                <input asp-for="precoCusto" class="form-control" />
                <span asp-validation-for="precoCusto" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<style>
    /* Oculta as setas de aumento e diminuição em campos do tipo number */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }
</style>
